.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: start;
}
